<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
	<body>
	  	<div class="wrapper">
			   <div class="logo_header">
			                <a href="https://mmc.maropost.com/"><img src="logo.png"/></a>
			            </div>
			            <div class="email_banner">
			                
			            </div>
			            <div class="email_body">
			                <h4 class="text-center">Welcome to Myapp</h4>
			            </div>
			            <p>Below are your credentials:</p>
			            <p>
	      					Email id : <%= @user.email %><br/>
	      					Password : <%= @password %>
	    				</p>
		</div>
	</body>
</html>