<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
	<body>
	  	<div class="wrapper">
			   <div class="logo_header">
			                <a href="https://mmc.maropost.com/"><img src="logo.png"/></a>
			            </div>
			            <div class="email_banner">
			                
			            </div>
			            <div class="email_body">
			                <h1 class="text-center">Hello <%= @contact.name %></h1>
			            </div>
			            <p>
	      					Thank you for contacting us. We will respond to your query shortly.
	    				</p>
		</div>
	</body>
</html>