<div class = "container">
	<div class="outline">
    	<div class="inner-content">
        	<h2>We Are Maropost</h2>
            <h6>We make the world's best marketing and sales platforms</h6>
            <div class="para">
            	<p>Maropost is the leading global provider of on-demand marketing, sales, commerce, and infrastructure solutions. We offer the world’s best marketing and sales cloud platforms combined with industry leading customer support and client success.</p>
                <a href="https://mmc.maropost.com/leadership-team/">MEET OUR LEADERSHIP TEAM</a>
            </div>
            <div class="para">
            	<p>Maropost was founded in 2011 by CEO and Chairman Ross Andrew Paquette. We are headquartered in Toronto, Canada, with offices in New York, USA, London, U.K., and Chandigarh, India.</p>
                <a href="https://mmc.maropost.com/client-success-stories/">READ OUR CASE STUDIES</a>
            </div>
            <div class="para">
            	<p>Maropost is the fastest growing company in Toronto and among the fastest growing companies in North America. In 2016, Maropost was ranked 4th in Deloitte&#039;s Canadian Technology Fast 50, 7th in the annual PROFIT 500 of Canada&#039;s fastest- growing companies, and 37th in the North America-wide Deloitte Fast 500.</p>
                <a href="http://mmc.maropost.com/careers-at-maropost/">CHECK OUT OUR CAREERS</a>
            </div>
            <div id = "image-box">
        		<%= image_tag("maropost.png", :alt => "maropost") %>
        	</div>
        </div>
	</div>
</div>
