<div class = 'footer_box'>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="footer-block">
						
					</div>
				</div>
				<div class="col-sm-4">
					<div class="footer-block text-center">
						<p class="copyright">
							©2017 Maropost Inc. All rights reserved. | 
							<ul class="list-inline footer-menu">
								<li><a href="">Contact Us</a></li>
							</ul>
						</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="footer-block">
						<ul class="list-inline pull-right social-icon">
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>